.index-mobile {
  background-color: #fff; }
  .index-mobile .bannar-warp {
    position: relative;
    box-shadow: 0 2px 4px #ea6556;
    text-align: center;
    width: 100%;
    height: 44px;
    background-color: #ea6556; }
    .index-mobile .bannar-warp .icon {
      color: white;
      width: 10%;
      position: absolute;
      top: 0;
      left: 3%; }
      .index-mobile .bannar-warp .icon i {
        font-size: 20px; }
    .index-mobile .bannar-warp .message {
      position: absolute;
      z-index: 3;
      top: -4px;
      right: 22px; }
      .index-mobile .bannar-warp .message i {
        font-size: 22px; }
    .index-mobile .bannar-warp div {
      padding-top: 10px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      color: white; }
  .index-mobile .title-text {
    width: 100%;
    height: 40px;
    color: #ea6556;
    background-color: #ffffff; }
    .index-mobile .title-text .back-btn {
      display: inline-block;
      width: 10%; }
    .index-mobile .title-text .demand {
      display: inline-block;
      width: 85%; }
    .index-mobile .title-text div {
      text-align: center;
      margin-top: 12px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px; }
  .index-mobile .bannar-swap {
    margin-top: 12px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #ffffff;
    width: 100%; }
    .index-mobile .bannar-swap .respond, .index-mobile .bannar-swap .seek, .index-mobile .bannar-swap .finsh {
      width: 32%;
      display: inline-block;
      text-align: center; }
  .index-mobile .contain-line {
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    height: 4px;
    background: linear-gradient(#f8ebe9, #f9f4f3); }
  .index-mobile .content-modular {
    padding-top: 12px;
    padding-right: 0px;
    padding-bottom: 12px;
    padding-left: 0px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    position: relative;
    background-color: #ffffff; }
    .index-mobile .content-modular .sureBtn {
      margin-top: 45px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      box-shadow: 0 0 0;
      text-align: center;
      color: #fff;
      background-color: #ea6556;
      width: 100%;
      height: 40px; }
    .index-mobile .content-modular .division {
      width: 90%;
      left: 5%;
      position: relative;
      height: 1px;
      background-color: #e5e5e5; }
    .index-mobile .content-modular .buy-number {
      margin-top: 10px;
      margin-right: 0;
      margin-bottom: 10px;
      margin-left: 0;
      position: relative;
      color: #999; }
      .index-mobile .content-modular .buy-number .number-right {
        color: #333;
        position: absolute;
        display: inline-block;
        top: 0;
        right: 5%; }
      .index-mobile .content-modular .buy-number .number-left {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 5%; }
    .index-mobile .content-modular .describe {
      color: #333;
      margin-top: 1px;
      margin-right: 0;
      margin-bottom: 60px;
      margin-left: 15px; }
    .index-mobile .content-modular .pic-a, .index-mobile .content-modular .pic-b, .index-mobile .content-modular .pic-c, .index-mobile .content-modular .pic-d {
      display: inline-block;
      width: 20%;
      margin-top: 0;
      margin-right: 2%;
      margin-bottom: 0;
      margin-left: 15px; }
      .index-mobile .content-modular .pic-a img, .index-mobile .content-modular .pic-b img, .index-mobile .content-modular .pic-c img, .index-mobile .content-modular .pic-d img {
        width: 100%; }
    .index-mobile .content-modular .pic-d {
      width: 5%; }
    .index-mobile .content-modular .content-text {
      color: #999;
      margin-top: 12px;
      margin-right: 0;
      margin-bottom: 15px;
      margin-left: 0px;
      font-size: 10px; }
    .index-mobile .content-modular .modular-line {
      width: 100%;
      height: 10px;
      background-color: #fafafa; }
    .index-mobile .content-modular .modular-edit {
      margin-top: 12px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      position: relative; }
      .index-mobile .content-modular .modular-edit .sent-time {
        display: inline-block;
        font-size: 12px;
        top: 12px;
        left: 0;
        color: #666; }
      .index-mobile .content-modular .modular-edit .btn-area {
        width: 60%;
        display: inline-block;
        position: absolute;
        right: -5px; }
        .index-mobile .content-modular .modular-edit .btn-area .cancel-btn, .index-mobile .content-modular .modular-edit .btn-area .edit-btn, .index-mobile .content-modular .modular-edit .btn-area .contact-btn {
          width: 31%;
          display: inline-block; }
        .index-mobile .content-modular .modular-edit .btn-area .edit-btn {
          color: #999; }
        .index-mobile .content-modular .modular-edit .btn-area .contact-btn {
          color: #333; }
        .index-mobile .content-modular .modular-edit .btn-area .btn {
          font-size: 12px;
          border-radius: 40px;
          width: 99%;
          height: 22px;
          padding-top: 2px;
          padding-right: 0px;
          padding-bottom: 0px;
          padding-left: 0px; }
        .index-mobile .content-modular .modular-edit .btn-area .btn-style {
          color: #ffffff;
          background-color: #ea6556;
          border: 1px solid #ea6556; }
  .index-mobile .sec-btn {
    background-color: #ea6556;
    color: #FFFFFF;
    border: 1px solid #ea6556; }
  .index-mobile .seek-btn {
    border: 1px solid #999999; }
  .index-mobile .dis {
    display: none; }
  .index-mobile .banner-clolr-a {
    color: #333333; }
  .index-mobile .banner-clolr-b {
    color: #ea6556; }
  .index-mobile .feedback-btn {
    color: #ea6556;
    background-color: #FFFFFF;
    border: 1px solid #ea6556; }
  .index-mobile .pafeedback-btn {
    position: absolute;
    right: 0; }
  .index-mobile .finsh-feedback-btn {
    border: 1px solid #999;
    color: #333333; }
  .index-mobile .bannar-warp .message {
    position: absolute;
    z-index: 3;
    top: -4px;
    right: 22px; }
    .index-mobile .bannar-warp .message i {
      font-size: 22px; }

/*# sourceMappingURL=info.css.map */
