.index-mobile {
  @mixin wh($w:100%,$h:80px) {
    width:$w;
    height:$h;
  }
  @mixin mg($t:0px,$r:0px,$b:0px,$l:0px) {
    margin-top:$t;
    margin-right:$r;
    margin-bottom:$b;
    margin-left:$l;
  }
  @mixin pd($t:0px,$r:0px,$b:0px,$l:0px) {
    padding-top:$t;
    padding-right:$r;
    padding-bottom:$b;
    padding-left:$l;
  }
  .bannar-warp{
    .message{
      position:absolute;
      z-index:3;
      top:-4px;
      right:22px;
      i{
        font-size:22px;
      }
    }
    position:relative;
    box-shadow:0 2px 4px #ea6556;
    text-align:center;
    width:100%;
    height:44px;
    background-color:#ea6556;
    div{
      @include pd(10px);
      color:white;
    }
  }
  .title-text {
    .back-btn{
      display:inline-block;
      width:10%;
    }
    .demand{
      display:inline-block;
      width:85%;
    }
    @include wh(100%, 40px);
    color:#ea6556;
    background-color:#ffffff;
    div {
      text-align:center;
      @include mg(12px)
    }
  }
  .bannar-swap {
    @include mg(12px);
    background-color:#ffffff;
    width:100%;
    .respond {
      width:32%;
      display:inline-block;
      text-align:center;
    }
    .seek, .finsh {
      @extend .respond
    }
  }
  .contain-line {
    @include mg(15px);
    @include wh(100%, 4px);
    background: linear-gradient(#f8ebe9, #f9f4f3);
  }


  .content-modular{
    @include mg(15px,15px,0,15px);
    @include pd(12px,$l:12px,$b:12px);
    position:relative;
    background-color:#ffffff;
    .pic-a{
      display:inline-block;
      width:27%;
      @include mg(0,2%,0,0);
      img{
        width:100%;
      }
    }
    .pic-b,.pic-c,.pic-d{
      @extend .pic-a
    }
    .pic-d{
      width:4%;
      position:absolute;
      top:29%

    }
    .content-text{
      color:#999;
      @include mg(12px,0,15px);
      font-size:10px;
    }
    .modular-line{
      @include wh(100%,1px);
      background-color:#e5e5e5;
    }
    .modular-edit{
      @include mg(12px);
      position:relative;
      .sent-time{
        display:inline-block;
        font-size:12px;
        top:12px;
        left:0;
        color:#666;
      }
      .btn-area{
        width:60%;
        display:inline-block;
        position:absolute;
        right:-5px;
        .cancel-btn,.edit-btn,.contact-btn{
          width: 30%;
          display:inline-block;
        }
        .edit-btn{
          color:#999
        }
        .contact-btn{
          color:#333;
        }

        .btn{
          line-height:20px;
          text-align:center;
          font-size:12px;
          border-radius:40px;
          width:90%;
        }
        .btn-style{
          color:#ffffff;
          background-color:#ea6556;
          border:1px solid  #ea6556   ;
        }
      }
    }
  }

  .sec-btn{
    background-color:#ea6556;
    color:#FFFFFF;
    border:1px solid #ea6556;
  }
  .seek-btn{
    border:1px solid #999999;
  }
  .dis{
    display:none;
  }
  .banner-clolr-a{
    color:#333333;
  }
  .banner-clolr-b{
    color:#ea6556;
  }
  .feedback-btn{
    color:#ea6556;
    background-color:#FFFFFF;
    border:1px solid #ea6556;
  }
  .pafeedback-btn{
    position:absolute;
    right:0;
  }
  .finsh-feedback-btn{
    border:1px solid #999;
    color:#333333;
  }
  .bannar-warp{
    .back-btn{
      position:absolute;
      top:5px;
      left:11px;
      display:inline-block;
      width:10%;
    }
    .message{
      position:absolute;
      z-index:3;
      top:-4px;
      right:22px;
      i{
        font-size:22px;
      }
    }}
}