.index-mobile .title-text {
  width: 100%;
  height: 40px;
  color: #ea6556;
  background-color: #ffffff; }
  .index-mobile .title-text .back-btn {
    display: inline-block;
    width: 10%; }
  .index-mobile .title-text .demand {
    display: inline-block;
    width: 85%; }
  .index-mobile .title-text div {
    text-align: center;
    margin-top: 12px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px; }
.index-mobile .bannar-swap {
  margin-top: 12px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: #ffffff;
  width: 100%; }
  .index-mobile .bannar-swap .respond, .index-mobile .bannar-swap .seek, .index-mobile .bannar-swap .finsh {
    width: 31%;
    display: inline-block;
    text-align: center; }
.index-mobile .contain-line {
  margin-top: 15px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 100%;
  height: 4px;
  background: linear-gradient(#f8ebe9, #f9f4f3); }
.index-mobile .content {
  width: 100%;
  background-color: #fafafa; }
  .index-mobile .content .content-modular {
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
    padding-top: 12px;
    padding-right: 0px;
    padding-bottom: 12px;
    padding-left: 12px;
    position: relative;
    background-color: #ffffff; }
    .index-mobile .content .content-modular .pic-a, .index-mobile .content .content-modular .pic-b, .index-mobile .content .content-modular .pic-c, .index-mobile .content .content-modular .pic-d {
      display: inline-block;
      width: 27%;
      margin-top: 0;
      margin-right: 2%;
      margin-bottom: 0;
      margin-left: 0; }
      .index-mobile .content .content-modular .pic-a img, .index-mobile .content .content-modular .pic-b img, .index-mobile .content .content-modular .pic-c img, .index-mobile .content .content-modular .pic-d img {
        width: 100%; }
    .index-mobile .content .content-modular .pic-d {
      width: 4%;
      position: absolute;
      top: 29%; }
    .index-mobile .content .content-modular .content-text {
      color: #999;
      margin-top: 12px;
      margin-right: 0;
      margin-bottom: 15px;
      margin-left: 0px;
      font-size: 10px; }
    .index-mobile .content .content-modular .modular-line {
      width: 100%;
      height: 1px;
      background-color: #e5e5e5; }
    .index-mobile .content .content-modular .modular-edit {
      margin-top: 12px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      position: relative; }
      .index-mobile .content .content-modular .modular-edit .sent-time {
        display: inline-block;
        font-size: 12px;
        top: 12px;
        left: 0;
        color: #666; }
      .index-mobile .content .content-modular .modular-edit .btn-area {
        width: 60%;
        display: inline-block;
        position: absolute;
        right: 0; }
        .index-mobile .content .content-modular .modular-edit .btn-area .cancel-btn, .index-mobile .content .content-modular .modular-edit .btn-area .edit-btn, .index-mobile .content .content-modular .modular-edit .btn-area .contact-btn {
          width: 30%;
          display: inline-block; }
        .index-mobile .content .content-modular .modular-edit .btn-area .edit-btn {
          color: #999; }
        .index-mobile .content .content-modular .modular-edit .btn-area .contact-btn {
          color: #333; }
        .index-mobile .content .content-modular .modular-edit .btn-area .btn {
          line-height: 20px;
          text-align: center;
          font-size: 12px;
          border-radius: 40px; }
        .index-mobile .content .content-modular .modular-edit .btn-area .btn-style {
          color: #ffffff;
          background-color: #ea6556;
          border: 1px solid #ea6556; }
  .index-mobile .content .finsh-modular {
    display: none; }
  .index-mobile .content .sea-modular {
    display: none; }
.index-mobile .sec-btn {
  background-color: #ea6556;
  color: #FFFFFF;
  border: 1px solid #ea6556; }
.index-mobile .seek-btn {
  border: 1px solid #999999; }
.index-mobile .dis {
  display: none; }
.index-mobile .banner-clolr-a {
  color: #333333; }
.index-mobile .banner-clolr-b {
  color: #ea6556; }
.index-mobile .feedback-btn {
  color: #ea6556;
  background-color: #FFFFFF;
  border: 1px solid #ea6556; }
.index-mobile .pafeedback-btn {
  position: absolute;
  right: 0; }
.index-mobile .finsh-feedback-btn {
  border: 1px solid #ea6556;
  color: #ea6556; }
.index-mobile .bannar-warp .message {
  position: absolute;
  z-index: 3;
  top: -4px;
  right: 22px; }
  .index-mobile .bannar-warp .message i {
    font-size: 22px; }

/*# sourceMappingURL=board.css.map */
